body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  margin: 20px;
  border-radius: 100%;
  padding: 20px;
  border: none;
  box-shadow: 2px 2px;
  font-weight: bold;
  font-size: 24px;
  background-color: green;
}

button:hover {
  background-color: #008050;
}

button:active {
  background-color: #008020;
}

.error-page {
  height: 100vh;
}

.error {
  margin-top: 100px;
  text-align: center;
}
