body {
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
}

.navlink {
  padding: 20px;
  text-decoration: none;
}

.navlink:hover {
  color: white;
}

.content {
  margin-left: 50px;
}

.user {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid;
}
